* {
    border: 0px !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
     box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: #666;
}

.container {
    width: 1024px;
}

h1 {
    font-family: sans serif;
    font-size: 48px;
    font-weight: light;

}

.header {
    color: #666;
    margin: 25px 0 0 0;

}

.left-column {
     margin: 20px 0 0 0;
 }

.logo {
    width: 375px;
    margin: 0 0 0 26px;
}


h2 {
    font-size: 24px;
    font-weight: 600;
    color: #F07C17;
}

.subtitle {
    padding: 0 0 0 20px;
    margin: 1px 0 20px 0;
}

.text {
    width: 579px;
    padding: 1px 25px 0 20px;
    font-size: 14px;
    word-spacing: 1.9px;
    line-height: 32px;
    color: #BBBABA;

}

.box-features {
    width: 375px;
    margin: 28px 0 0 25px;
    padding: 10px 0 0px 15px;
    border: 1px solid #CCCCCC !important;
}


.features{
    margin: 20px 0 27px 15px;
    font-size: 26px;
    font-weight: bold;
    word-spacing: 5px;
}

li {

    font-size: 16px;
    line-height: 32px;
    margin: 0 0 0 16px;
    color: #BBBABA;
}

ul {
    list-style-type:disc;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 0 41px 0;
}




.mockup-overlay {
       top: 0;
       position: absolute;
       z-index: -1;
       opacity: 0.4;
    }














